## Assignment 1 – If-Else Statement

In [2]:
""" 
Input the values of a and b as 10 and 20 respectively. Now check if a is
greater or b is greater using if condition. Think about all the edge cases,
and print the statements accordingly."""

a=10
b=20
if a>b:
    print('a is greater than b')
else:
    print('b is greater than a')

b is greater than a

## Assignment 2 – Conditional Statements

In [9]:
"""
Take three user inputs and print the greatest number from those inputs using if-else condition.
Edge cases, if any, should also be handled"""

a=input('Enter a number1: ')
b=input('Enter a number2: ')
c=input('Enter a number3: ')

if a>b and a>c:
    print(a +' is the greatest number')
elif b>a and b>c:
     print(b +' is the greatest number')
else:
    print(c +' is the greatest number')

Enter a number1: 65
Enter a number2: 553
Enter a number3: 552
65 is the greatest number

## Assignment 1 – Loops

In [12]:
# Print the numbers from 1 to 10 using while loop

for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

## Assignment 2 – Loops

In [9]:
"""
Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help
of while loop fetch the even numbers and print the numbers"""

list1=[10,23,4,26,4,75,24,54]
index=0
while index<(len(list1)):
    #print(list1[index])
    if (list1[index]%2)==0:
        print(list1[index],' Even Number')
#     else:
#         print(list1[index],' Odd Number')
    index=index+1

10  Even Number
4  Even Number
26  Even Number
4  Even Number
24  Even Number
54  Even Number

## Assignment 3 – Loops

In [75]:
"""
Create an array that has user defined inputs and with the help of for loop,
fetch all the prime numbers and print the numbers.
"""

n=int(input('Enter Number: '))
flag=True
for i in range(2,n):
    if n%i==0:
        print(n, ' is divisible by ',i)
        flag=False
if flag==True:
    print(n,' is a prime number')
else: 
    print(n,' is not a prime number')

Enter Number: 123654
123654  is divisible by  2
123654  is divisible by  3
123654  is divisible by  6
123654  is divisible by  37
123654  is divisible by  74
123654  is divisible by  111
123654  is divisible by  222
123654  is divisible by  557
123654  is divisible by  1114
123654  is divisible by  1671
123654  is divisible by  3342
123654  is divisible by  20609
123654  is divisible by  41218
123654  is divisible by  61827
123654  is not a prime number

In [79]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

mylist = []  # Define an empty list
a = int(input("Enter the number of elements in the list: "))
i = 0
while i < a:
    num = int(input('Enter a number: '))
    mylist.append(num)
    i += 1

for num in mylist:
    if is_prime(num):
        print(num, 'is a prime number')

Enter the number of elements in the list: 5
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
2 is a prime number
3 is a prime number
5 is a prime number

## Case Study Problem 1

In [23]:
"""
1. Create a list containing squares of numbers from 1 to 10 (HINT: use List
Comprehension)
"""

i=0
mylist=[]
while i<10:
    num=int(input('Enter a Number'))
    mylist.append(num**2)
    i=i+1
print(mylist)

Enter a Number1
Enter a Number2
Enter a Number3
Enter a Number4
Enter a Number5
Enter a Number6
Enter a Number7
Enter a Number8
Enter a Number9
Enter a Number10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
#2. Write a function to check if the year number is a leap year
def leapyear():
    n=int(input('Enter a year: '))
    if n%4==0:
        return(n, ' is a leap year')
    else:
        return(n, ' is NOT a leap year')
leapyear()

Enter a year: 2021

(2021, ' is NOT a leap year')

In [44]:
# 3. Write a function to take an array and return another array that contains the members of the first array that are even

def FindEven():
    even=[]
    i=int(input('How many numbers to be inserted: '))
    j=0
    while j<i:
        num=int(input('Enter a Number: '))
        if num%2==0:
            even.append(num)
        j=j+1
    return ('Even Numbers are',even)

In [34]:
FindEven()

How many numbers to be inserted: 5

[]

In [36]:
FindEven()

How many numbers to be inserted: 5
Enter a Number: 1
Enter a Number: 2
Enter a Number: 3
Enter a Number: 4
Enter a Number: 5

[2, 4]

In [39]:
FindEven()

How many numbers to be inserted: 5
Enter a Number: 1
Enter a Number: 2
Enter a Number: 3
Enter a Number: 4
Enter a Number: 5

([2, 4], [1, 3, 5])

In [41]:
FindEven()

How many numbers to be inserted: 5
Enter a Number: 1
Enter a Number: 2
Enter a Number: 3
Enter a Number: 4
Enter a Number: 5

('Even Numbers', [2, 4])

In [43]:
FindEven()

How many numbers to be inserted: 5
Enter a Number: 4
Enter a Number: 7
Enter a Number: 8
Enter a Number: 9
Enter a Number: 4

('Even Numbers', [4, 8, 4])

In [10]:
""" 4. Write a function that takes 2 arrays and prints the members of the first array that are present in the second array. 
(HINT: use Membership Comprehension) """

def find_common_numbers(array1, array2):
    common_numbers = [number for number in array1 if number in array2]
    print("Common elements:", common_numbers)

In [11]:
array1 = [1, 2, 3, 4, 5]
array2 = [4, 5, 6, 7, 8]
find_common_numbers(array1,array2)

Common elements: [4, 5]

## Case study problem - 2

Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.

In [15]:
"""
1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):
    a. Concatenate the two tuples and store it in “t_combine”
    b. Repeat the elements of “t_combine” 3 times
    c. Access the 3rd element from “t_combine”
    d. Access the first three elements from “t_combine”
    e. Access the last three elements from “t_combine”
"""
import numpy as np

In [25]:
# a. Concatenate the two tuples and store it in “t_combine”
tuple1=(10,20,30)
tuple2=(40,50,60)
t_combine=tuple1,tuple2

In [26]:
t_combine

((10, 20, 30), (40, 50, 60))

In [27]:
# b. Repeat the elements of “t_combine” 3 times
t_combine=t_combine+t_combine+t_combine

In [28]:
t_combine

((10, 20, 30),
 (40, 50, 60),
 (10, 20, 30),
 (40, 50, 60),
 (10, 20, 30),
 (40, 50, 60))

In [30]:
# c. Access the 3rd element from “t_combine”
t_combine[3-1]

(10, 20, 30)

In [32]:
# d. Access the first three elements from “t_combine”
t_combine[:3]

((10, 20, 30), (40, 50, 60), (10, 20, 30))

In [34]:
# e. Access the last three elements from “t_combine”
t_combine[-3:]

((40, 50, 60), (10, 20, 30), (40, 50, 60))

In [ ]:
"""
2. Create a list ‘my_list’ with these elements:
    a. First element is a tuple with values 1, 2, 3
    b. Second element is a tuple with values “a”, “b”, “c”
    c. Third element is a tuple with values True, False
"""

In [38]:
my_list=[(1,2,3),('a','b','c'),(True,False)]

In [39]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [40]:
"""
3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
    a. Append a new list – *“sparta”, 123+ to my_list
"""

my_list.append((1,'a',True))

In [41]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [45]:
my_list.append(["sparta",123+])

SyntaxError: invalid syntax (3105960448.py, line 1)

In [46]:
"""
4. Create a dictionary ‘fruit’ where:
    a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
    “Guava”)
    b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
    c. Extract all the keys from ‘fruit’
    d. Extract all the values from ‘fruit’
"""

'\n4. Create a dictionary ‘fruit’ where:\n    a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,\n    “Guava”)\n    b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)\n    c. Extract all the keys from ‘fruit’\n    d. Extract all the values from ‘fruit’\n'

In [56]:
fruit={"Fruit" : ["Apple", "Banana", "Mango","Guava"],
      "Cost" : [85, 54, 120, 70] }

In [57]:
fruit

{'Fruit': ['Apple', 'Banana', 'Mango', 'Guava'], 'Cost': [85, 54, 120, 70]}

In [59]:
fruit.keys()

dict_keys(['Fruit', 'Cost'])

In [60]:
fruit.values()

dict_values([['Apple', 'Banana', 'Mango', 'Guava'], [85, 54, 120, 70]])

In [66]:
"""
5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result.
"""

my_set=((1, 1, 'a', 'a', True, True))
print(my_set)

(1, 1, 'a', 'a', True, True)